#about {
    margin: 5em 1em 0 1em;
    





    & .about_container__content{
    width: 100%;
    max-width: 100%;
    gap: 2em
    }

   





    .about_container__content {

    grid-template-columns: repeat(2, 1fr);

    & .destaques__IA {


        & > .heading {
        justify-content: space-between;
        color: var(--text-color-secondary);
    }

    

    &  .containerimg {
        grid-template-columns: 1fr 0.4fr;
        align-items: center;
        color: var(--text-color-secondary);

        & > img {
            margin-left: 0.25em;
            
            
        }
     }
     }
    }



    .container__destaques__IA{

    display: flex;
    

    width: 100%;
    max-width: 100%;
    gap: 1em;
    }

    .containerleft{
    width: 150%;
    min-height: 100%;
    max-width: 100%;
    & > span {
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        }
    }




    .ads{
        width: 100px;
        height: 100px;

        & > .image{
        background-image: url(../assets/Ads.png);
        
        }
        
    }
}



.containerright{

    width: 438px;
    height: 200px;
    
    
    
    
        
        background-image: url(../assets/mulhercomvr.png);
    
    background-size: cover;      /* Faz a imagem preencher toda a div */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-position: center; /* Centraliza a imagem na div */
    
    
}







@media (width <= 527px) {




    #about {

        & .about_container__content{
            & .destaques__IA{

                & .heading{
                    justify-content: space-between;
                    gap: 1em
                }
            }
        }
    }
    

}