#destaques {
  
  width: 100%; 
  max-width: 100%; 
  overflow-x: hidden; 
  margin: 0 auto; 
  
 
  
  
}

.container__destaques{
  
  padding: 16px;
  
  

  & > .noticia1 img {
     width: 100%;
     height: 100%;
    object-fit: cover;
    
  }

& > .noticia1{
  width: 50%;
  display: grid;
  grid-template-columns: 1fr ;
  width: auto;
  margin: 0 auto 1rem auto;
  object-fit: cover;
}
  
  & > .noticias{
  width: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  }


  & > .noticias img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/*parte da noticia 1 para celular*/
.noticia1{
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  
  & > .container__contentcard span{
    display: -webkit-box;
          /* número de linhas visíveis */
  -webkit-box-orient: vertical;
  
  text-overflow: ellipsis;
  
  }

  & > .container__contentcard {
    bottom: 0;
    margin: 3.2em 1em 1em 1em;
    padding-bottom: 2rem;

    


    & > .alinhamento {
      background-color: black;
      grid-template-columns: auto;
      
    }
  }

}

.noticia1 > div{
  position: absolute;

   bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box; 


  color: var(--text-color-primary);
  max-height: 50%;

  color: var(--text-color-primary);

  & > h3 {
    display: inline-block;
    font-size: 0.625em;
    background-color: var(--brand-color-dark);
    border-radius: 0.25em;
    padding: 0.5em;
    margin-bottom: 0.5em;
  }

  & > span {
    display: block;
    font-size: 0.9rem;
    
  }
}

/*fim da parte da noticia 1 para celular*/



/*Noticias*/

.container_noticias {

position: relative;

  & > .container__contentcard{

    position: absolute;
    bottom: 0;
  }
}
.container__contentcard{
  margin:2.25em 0.75em 0.75em 0.75em ;
  
  
  text-overflow: ellipsis;
}

.container__contentcard span{

  /*Importante: limita o numero total de linhas para 3 e esconde o que exceder dentro do span mostrando 3 pontos...*/
  display: -webkit-box;
  -webkit-line-clamp: 3;          /* número de linhas visíveis */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}



.container_noticias {
  overflow: hidden;
  text-overflow: ellipsis;
}


@media (width >= 48.75em){

.container__contentcard{
  margin: 0.1em ;
}


  #destaques {
  
  width: 100vw; 
  max-width: 100%; 
  overflow-x: hidden; 
  margin: 0 auto; 








  
}

.noticia1{
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  
  & > .container__contentcard span{
    display: -webkit-box;
  -webkit-line-clamp: 3;          /* número de linhas visíveis */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  
  }

  & > .container__contentcard {
    bottom: 0;
    margin: 4.5em 1.5em 1.5em 1.5em;
  }

}

.noticia1 > div{
  position: absolute;
  
  color: var(--text-color-primary);
  max-height: 50%;

  color: var(--text-color-primary);

  & > h3 {
    display: inline-block;
    font-size: 0.625em;
    background-color: var(--brand-color-dark);
    border-radius: 0.25em;
    padding: 0.5em;
    margin-bottom: 0.5em;
  }

  & > span {
    display: block;
    font-size: var(--fs-h1);
  }
}



  .container__destaques{
 display: flex;
  width: 100%;

  & > .noticia1 img {
     width: 100%;
     height: 100%;
    object-fit: cover;
    display: block;
  }

& > .noticia1{
  height: 100%;
  width: 50%;
}
  
  & > .noticias{
    width: 50%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }


  & > .noticias img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}



.noticia1{
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  & > .container__contentcard{
    
  }

}

.noticia1 > div{
  position: absolute;
  
  
}
}