#destaques {
  
  width: 100%; /* 100% da largura da tela */
  max-width: 100%; /* garante que não ultrapasse */
  overflow-x: hidden; /* evita que passe da tela horizontalmente */
  margin: 0 auto; /* centraliza se houver algum espaço sobrando */
  
 
  
  
}

.container__destaques{
  
  padding: 16px;
  
  

  & > .noticia1 img {
     width: 100%;
     height: 100%;
    object-fit: cover;
    
  }

& > .noticia1{
  width: 50%;
  display: grid;
  grid-template-columns: 1fr ;
  width: auto;
  margin: 0 auto 1rem auto;
  object-fit: cover;
}
  
  & > .noticias{
  width: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  }


  & > .noticias img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.noticia1{
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  
  & > .container__contentcard span{
    display: -webkit-box;
  -webkit-line-clamp: 3;          /* número de linhas visíveis */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  
  }

  & > .container__contentcard {
    bottom: 0;
  }

}

.noticia1 > div{
  position: absolute;
  
  color: var(--text-color-primary);
  max-height: 50%;

  & > h3 {
    display: inline-block;
    font-size: 0.625em;
    background-color: var(--brand-color-dark);
    border-radius: 0.25em;
  }

  & > span {
    display: block;
    font-size: var(--fs-h1);
  }
}


@media (width >= 48.75em){


  #destaques {
  
  width: 100vw; /* 100% da largura da tela */
  max-width: 100%; /* garante que não ultrapasse */
  overflow-x: hidden; /* evita que passe da tela horizontalmente */
  margin: 0 auto; /* centraliza se houver algum espaço sobrando */
}

  .container__destaques{
 display: flex;
  width: 100%;

  & > .noticia1 img {
     width: 100%;
     height: 100%;
    object-fit: cover;
    display: block;
  }

& > .noticia1{
  height: 100%;
  width: 50%;
}
  
  & > .noticias{
    width: 50%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }


  & > .noticias img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}



.noticia1{
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  & > .container__contentcard{
    
  }

}

.noticia1 > div{
  position: absolute;
  
  
}
}