#week {
    margin: 2em 1em;


    padding-top: 0.75em;


    & > .heading {
        justify-content: space-between;
        
    }

    

    &  .containerimg {
        grid-template-columns: 1fr 0.4fr;
        align-items: center;
        

        & > img {
            margin-left: 0.25em;
            
            
        }
    }



    & .cardsweek{
        margin-top: 1em;
        display: flex;
        justify-content: center;
    }


    & .cardsweek__content{
        grid-template-columns: 1fr ;
        gap: 1em;



        &  .cardsweek__cards{
            display: grid;
            justify-content: center;
            object-fit: cover;

            & > div{
                display: grid;
                justify-content: center;
            }

            &  img{

                
               width: 100%; 
                max-width: 100%;
            }
            
        }



        
    }


    & .carweek__text {
        text-align:justify;
        
        width: auto;
        display: -webkit-box;
  -webkit-line-clamp: 3;          /* número de linhas visíveis */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;;
    }



     & span{
        text-align:justify;
        
        width: auto;
        display: -webkit-box;
  -webkit-line-clamp: 3;          /* número de linhas visíveis */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;;
    }



    & .imagecard > img{
        
        object-fit: cover;
    }
}







@media (width >= 48.75em){
#week {



    & .cardsweek__content{
        grid-template-columns: 1fr 1fr  1fr 1fr;
        gap: 1em;



        &  .cardsweek__cards{
            

            &  img{

                
                
                max-width: 100%;
            }
            
        }
    }
}

}



@media (width <= 269px) {

    #week {


        & > .heading {
        justify-content: space-between;
        
            gap:1rem;
        
    }
    }
    

}