#week {
    margin: 2em 1em;


    padding-top: 0.75em;


    & > .heading {
        justify-content: space-between;
        
    }

    

    &  .containerimg {
        grid-template-columns: 1fr 0.4fr;
        align-items: center;
        

        & > img {
            margin-left: 0.25em;
            
            
        }
    }
}



@media (width <= 269px) {

    #week {


        & > .heading {
        justify-content: space-between;
        
            gap:1rem;
        
    }
    }
    

}